@page
@model ContactTracing15.Pages.Denied.DeniedModel
@{
    ViewData["Title"] = "Access Denied";
}


<div class="text-center">
    <h1 class="display-4">Access Denied</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <p> @User.Identity.Name, user type @User.Claims.First(c => c.Type == "usrtype").Value is not authorised to access this area.</p>
    }
    else
    {
        <p> This area is only accessable to certain personnel. Please log in first. </p>
    }
</div>
