@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron jumbotron-fluid" style="        background-image: url(https://miro.medium.com/max/2978/1*rmq7bd3GFjcwfXtkrBQaPQ.png);
        height: 100vh;">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Please check <a href="https://www.gov.uk/coronavirus">the Goverment's website</a> to learn more about the covid regulations in your area!</p>
        </div>
    </div>
</div>