@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="jumbotron jumbotron-fluid" style="        background-image: url(https://miro.medium.com/max/2978/1*rmq7bd3GFjcwfXtkrBQaPQ.png);
        height: 100vh;">
    <div class="container">
        <div class="text-center">
            <h5 class="display-4">Demonstration Wed 12th May</h5>
            <p>For demonstration purposes please click the <a  asp-area="" asp-page="/Demo">Demo info</a> tab above for instructions.</p>

        </div>
    </div>
</div>