@page
@model ContactTracing15.Pages.Testing.PositiveFormModel
@{
    ViewData["Title"] = "Positive Case Form";
}

<div style="background:#F2F2F2">
    <a class="btn btn-outline-secondary rounded-0" id="return-button" asp-area="" asp-page="./Dashboard" style="margin:10px;">Back</a>

    <form method="post">
        <input asp-for="CaseForm.TesterId" />
        <input asp-for="CaseForm.TestingCentrePostcode" />
        <div class="row">
            <div class="col-9">
                <ul class="PositiveFormList" data-role="listview">
                    <div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 200px; text-align: center">Name *</span>
                            </div>

                            <input asp-for="CaseForm.Forename" class="form-control form-control-sm" placeholder="First name">
                            <input asp-for="CaseForm.Surname" class="form-control form-control-sm" placeholder="Last name">
                        </div>

                        <span asp-validation-for="CaseForm.Forename"></span>
                        <span asp-validation-for="CaseForm.Surname"></span>
                    </div>
                    <div></div>
                    <div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 200px; text-align: center">Email</span>
                            </div>

                            <input asp-for="CaseForm.Email" class="form-control form-control-sm">
                        </div>

                        <span asp-validation-for="CaseForm.Email"></span>
                    </div>
                    <div></div>
                    <div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 200px; text-align: center">Phone Number</span>
                            </div>

                            <input asp-for="CaseForm.Phone" class="form-control form-control-sm" />
                        </div>

                        <span asp-validation-for="CaseForm.Phone"></span>
                    </div>
                    <div></div>
                    <div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 200px; text-align: center">Secondary Phone</span>
                            </div>

                            <input asp-for="CaseForm.Phone2" class="form-control form-control-sm" />
                        </div>

                        <span asp-validation-for="CaseForm.Phone2"></span>
                    </div>
                    <div></div>
                    <div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 200px; text-align: center">Test Date *</span>
                            </div>

                            <input type="date" asp-for="CaseForm.TestDate" class="form-control form-control-sm" />
                        </div>

                        <span asp-validation-for="CaseForm.TestDate"></span>
                    </div>
                    <div></div>
                    <div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 200px; text-align: center">Symptom Start Date</span>
                            </div>

                            <input type="date" asp-for="CaseForm.SymptomDate" class="form-control form-control-sm" />
                        </div>

                        <span asp-validation-for="CaseForm.SymptomDate"></span>
                    </div>
                    <div></div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 200px; text-align: center">Truncated Postcode</span>
                        </div>

                        <input asp-for="CaseForm.Postcode" class="form-control form-control-sm" />
                    </div>

                    <span asp-validation-for="CaseForm.Postcode"></span>

                </ul>
                <p class="actions" style="margin:10px">
                    <button class="btn btn-danger rounded-0 submit-button">Submit</button>
                </p>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}