@page
@model ContactTracing15.Pages.Tracing.DashboardEditModel
@{ 
    ViewData["Title"] = "Contact Tracer Dashboard";
}

<div class="lhs" style="background: #F2F2F2; border: 1px solid #cecece; float: left; width: 30%">
    @await Html.PartialAsync("_AssignedCases", Model.CaseListItems)
</div>
<div class="rhs" style="background: #F2F2F2; border: 1px solid #cecece; float: right; width: 60%">
    <p>
        <form method="post">
            <input asp-for="AddContactForm.CaseId" value="@Model.AddContactForm.CaseId" />
            <div class="row">
                <div class="col-10">
                    <ul class="PositiveFormList" data-role="listview">
                        Please complete the form with the details of a contact.
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>

                            <input asp-for="AddContactForm.Forename" class="form-control" placeholder="first name">
                            <input asp-for="AddContactForm.Surname" class="form-control" placeholder="last name">
                        </div>

                        <span asp-validation-for="AddContactForm.Forename"></span>
                        <span asp-validation-for="AddContactForm.Surname"></span>

                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email Address</span>
                            </div>
                            <input asp-for="AddContactForm.Email" class="form-control">
                        </div>
                        <span asp-validation-for="AddContactForm.Email"></span>

                        <div class="input-group mb-3 ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Phone Number</span>
                            </div>

                            <input asp-for="AddContactForm.Phone" class="form-control" />
                        </div>
                        <span asp-validation-for="AddContactForm.Phone"></span>
                    </ul>
                </div>
            </div>
            <button class="btn btn-danger submit-button rounded-0">Submit</button>
        </form>
    </p>
    <p>
        <a asp-page="./Dashboard" asp-route-caseid="@Model.CurrentAssignedCase.CaseID" class="btn btn-sm btn-outline-secondary rounded-0" role="button">Back to details </a>
    </p>
</div>



@section scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}