@page
@model ContactTracing15.Pages.GovAgent.GovHomeModel
@{
    ViewData["Title"] = "Government Agent Dashboard";
}




<a class="btn btn-outline-secondary" asp-area="" asp-page="/GovAgent/HeatmapPage">View Heatmap</a>
