@page
@model ContactTracing15.Pages.GovAgent.GovHomeModel
@{
}

<style>
    #map-canvas {
        height: 500px;
        margin: 0px;
        padding: 0px;
    }

    #panel {
        position: relative;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
    }
</style>

<div id="panel">
    <button onclick="toggleHeatmap()">
        Toggle Heatmap
    </button>
    <button onclick="changeGradient()">
        Change gradient
    </button>
    <button onclick="changeRadius()">
        Change radius
    </button>
    <button onclick="changeOpacity()">
        Change opacity
    </button>
</div>
<div id="map-canvas">
    Map canvas goes here
</div>

<script  src="@Model.googleUrl"></script>

<script>
    // Adding 500 Data Points
    var map, pointarray, heatmap;


    function setUpData() {

        var lats = @Html.Raw(Json.Serialize(Model.Lats));
        var longs = @Html.Raw(Json.Serialize(Model.Longs));

        console.log(lats);
        console.log(longs);

        var heatData = [];

        for (i = 0; i < lats.length; i++) {
            heatData.push(new google.maps.LatLng(lats[i], longs[i]));
        }

        return heatData;

    }




    function initialize() {

        var heatData = setUpData();

        var mapOptions = {
            zoom: 13,
            center: new google.maps.LatLng(51.761597721166794, - 1.262324189654609),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var pointArray = new google.maps.MVCArray(heatData);

        heatmap = new google.maps.visualization.HeatmapLayer({
            data: pointArray
        });

        heatmap.setMap(map);

        setTimeout(function () {
            google.maps.event.trigger(map, "resize");
        }, 3000);
    }

    function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
    }

    function changeGradient() {
        var gradient = [
            'rgba(0, 255, 255, 0)',
            'rgba(0, 255, 255, 1)',
            'rgba(0, 191, 255, 1)',
            'rgba(0, 127, 255, 1)',
            'rgba(0, 63, 255, 1)',
            'rgba(0, 0, 255, 1)',
            'rgba(0, 0, 223, 1)',
            'rgba(0, 0, 191, 1)',
            'rgba(0, 0, 159, 1)',
            'rgba(0, 0, 127, 1)',
            'rgba(63, 0, 91, 1)',
            'rgba(127, 0, 63, 1)',
            'rgba(191, 0, 31, 1)',
            'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
    }

    function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
    }

    function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
    }


    google.maps.event.addDomListener(window, 'load', initialize);


</script>