@page
@model ContactTracing15.Pages.GovAgent.GovHomeModel
@{
    ViewData["Title"] = "Government Agent Dashboard";
}




<a class="btn btn-outline-secondary" asp-area="" asp-page="/GovAgent/HeatmapPage">View Heatmap</a>

<asp:Button runat="server" class="btn btn-outline-secondary" Text="Download database" ID="btnDwld" onclick="Download_Database" />